.cover {
    display: flex;
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    margin: 0 auto 92px;
    z-index: 1;
    background-image: url(../../images/cover__background.png);
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
    }   
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin: 0 auto 88px;
    }
}   

@media screen and (max-width: 425px) {
    .cover {
        max-width: 425px;
        min-height: 200px;
        margin: 0 auto 64px;
    }   
}